body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: tan;

}

#title_img {
    margin: auto;
    width:100%
}

#title {
    margin: auto;
    width: 40%;
    border: 5px solid rgb(0, 68, 0);
    text-align: center;
    font-size: 400%;
    margin-bottom: 100px;
}

p, h3, img, ul {
    margin-left: 50px;
}

p {
    width: 70%;
    text-align: left;
}

#cooking_img {
    width: 400px;
}

.example_img {
    border-radius: 80%;
    width: 300px;
}

.align_left {
    text-align:left;
}

.align_right {
    text-align:right;
}

article {
    margin: auto;
    width: 80%;
    text-align: center;
}

footer {
    margin-top: 300px;
    text-align: center;
}